doctype html
html(lang='en')
    head
        title Pug
        script(src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js")
        script(src="/javascript/firebase.js")
        script(src="/javascript/index.js")
    body
        h1 Pug Examples
        div.container
            p Cool Pug example!


