include ../../testNode/public/modules/head
include ../../testNode/public/modules/nav
+head(["index.js"])
    body
        +navbar()
        div.search
            input(type="text", name='search', placeholder='Name')
            button(href='#').hollow.button Search
        table.hover
            thead
                tr
                    th(width='200') Table Header
                    th Table Header
                    th(width='150') Table Header
                    th(width='150') Table Header
            tbody#list-user
                each movie in allMovies
                    tr
                        td= movie.title
                        td= movie.description
                        td
                            a(href='/detail.html?id='+movie.id).hollow.button Show Details
                        td
                            a( href="", id = movie.id).hollow.button.warning.fav Add Favorite
